body {
  background-color: antiquewhite;
  background-image: url(kucing\ couple.jpg);
<<<<<<< HEAD
  background-repeat: no-repeat;
  background-position: full;
 
div {}
. first{
   background-color: aquamarine;


. second {
    background-color: deeppink;
=======
  